{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% endblock meta %}
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    {% endblock %}
    </head>

    <body style="display: flex; flex-direction: column; align-items: center;">
        {% block content %}
        {% endblock content %}
    </body>
</html>