{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="navigation-bar">
        <h1>Alhikam Mart</h1>

        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
            <p> Hello {{name}} from {{class}}</p>
            <a href="{% url 'main:logout' %}">
                <button>
                    Logout
                </button>
            </a>
        </div>
    </div>

    <div style="padding-top: 64px;">

        <p>Kamu menyimpan {{ products.count }} item pada aplikasi ini</p>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        
        <div class="card-container">
            {% for product in products %}

                <div {% if forloop.last %} class="card-last" {% else %} class="card" {% endif %} >

                    <p style="font-size: 20px; font-weight: 700;">{{product.name}}</p>
                    <p>{{product.stock}}</p>
                    <a href="{% url 'main:reduce_stock' product.id%}">
                        <button> &#060 </button>
                    </a>
                    
                    <a href="{% url 'main:add_stock' product.id%}">
                        <button> &#062 </button>
                    </a>
                    <p>{{product.description}}</p>
                    <p>{{product.date_added}}</p>
                    <a href="{% url 'main:delete_product' product.id%}">
                        <button> Delete </button>
                    </a>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </div>
            
            {% endfor %}
        </div>

        <br />

        {%if products.count == 0%}
        <a href="{% url 'main:create_product' %}">
            <button>
                Add Your First Product
            </button>
        </a>
        {% else %}
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
        {% endif%}

        <h5>Sesi terakhir login: {{ last_login }}</h5>

    </div>
</div>

<style>
    .container {
        width: 100%;
    }
    .navigation-bar {
        position: fixed;
        padding: 0 20px 0 20px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 50px;
        width: 95%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 15px;
    }

    .card-container {
        overflow: scroll;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .card {
        min-width: 300px;
        padding: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 25px;
        margin-right:20px
    }

    .card-last {
        background-color: rgb(252, 167, 167);
        min-width: 300px;
        padding: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 25px;
        margin-right:20px
    }
</style>
{% endblock content %}