{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
    <div class = "login">


        <div class="loginWrapper">

            <div>
                <h1>Register</h1>

                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <input class="btn" type="submit" value="Daftar" style="width: 100%;">   
                </form>

                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}       
            </div>
        </div>
    </div>


<style>
    .login {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 720px;
    }
    
    .inputLogin {
        display: flex; flex-direction: row;
    }

    .loginWrapper {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 400px; 
        height: 450px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 25px;
    }
    
    
</style>
{% endblock content %}